/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Carousel Slider */
.home_slider img {
  width: 100%;
  height: 500px;
  /* object-fit:fill; */
  
}

.slider_text h3 {
  font-size: 2rem;
  color: white;
 
}

/* Card Grid */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px auto;
  justify-content: center;
}

.card-container {
  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-container h2 {
  margin: 10px 0;
  position: absolute; /* Position title on top of the image */
  bottom: 40%; /* Adjust vertical placement */
  text-align: center;
  font-size: 1.5rem;
  color:#fff;
  margin-left: 150px;
}



/* Tablets */
@media (max-width: 768px) {
  .home_slider img {
    height: 350px;
  }

  .slider_text h3 {
    font-size: 1.5rem; /* Further reduce text size */
  }

  .card-container h2 {
    font-size: 1.2rem;
  }
}

/* Smartphones */
@media (max-width: 480px) {
  .home_slider img {
    height: 300px; /* Smaller height for smaller screens */
  }

  .slider_text h3 {
    font-size: 1.2rem; /* Smaller text size for small devices */
  }

  .card-container h2 {
    font-size: 1rem; /* Reduce font size for better fit */
    bottom: 5%; /* Adjust placement */
  }

  .card-grid {
    gap: 15px; /* Reduce gap between cards */
  }
}



  
  
  
  
