/* Navbar Container */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 40px;
  height: 85px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

/* Logo Section */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  height: auto;
}

/* Navigation Links */
.Main_nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 30%;
}

.Main_nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 3px;
}

/* Hover Effect */
.Main_nav-links a:hover {
  color: #1b76c6;
}

/* Active Link */
.Main_nav-links a.active {
  color: #1b76c6;
  border-bottom: 2px solid #1b76c6;
}

/* Gallery Button */
.gallery-button a {
  background-color: #7aa8c7;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.gallery-button a:hover {
  background-color: #5e92b0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-bar {
   display: flex;
   flex-direction: column;
   margin-bottom: 26vh;
  }

  .Main_nav-links {
    margin-top: 10vh;
    margin-right: 22vw;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    display: flex;
    
  }

  .gallery-button {
    margin-top: 10px;
  }
}





